/* AppPanel.module.scss */
.appList {
  padding: 10px;
  overflow: auto;
}
.apppanel{
  > div:nth-child(1){
   // background: rgba(#F1F1F1,0.8);
  //  backdrop-filter: blur(2px);
   // left: 48px;
   // top:118px;
    @media(max-width:1023px){
    //  top: 179px;
    //  left: 0;
    }
  }
  > div:nth-child(2){
    height: auto !important;
    inset: auto;
    top: 135px;
    width: 465px;
    right: 15px;
    padding-bottom: 30px;
    [data-is-scrollable]{
      overflow: visible;
    }
    @media(max-width:1023px){
      top:195px;
    }
    @media(max-width:639px){
      top:178px;
      right: 0;
      border-top:1px solid #CFCFCF;
      box-shadow: 0 4px 16px 0 rgba(#000,0.05);
      width: 100%;
    }
  }
  h3{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
  }
}
*[class*="app-grid"]>div,
.app-grid>div {
  display: inline-block;
  width: 50%;
}

.appItemGrid {
  display: inline-block;
  grid-template-columns: repeat(2, 1fr); /* Create two columns for grid view */
  gap: 20px; /* Spacing between items */
  width: 50%;
}

.appItemList {
  display: flex;
  flex-direction: column;
}

.app-icon i{ 
  font-size: 20px;
  width: 20px;
  color:#212121!important;
  height: 20px;
}
.app-icon:hover i,.Add:hover i{
  color:#212121!important;
}
.appItemList > div{
  margin: 0 -5px;
  padding-bottom: 12px;
}

.appItem {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
}

.appIcon {
  font-size: 24px; /* Size of app icons */
  color: #666; /* Color of app icons */
  margin-right: 12px; /* Spacing to the right of icons */
}

.appName {
  font-size: 16px; /* Size of app names */
  color: #333; /* Color of app names */
  flex-grow: 1; /* Allow names to fill available space */
}

.editAppBtn,
.deleteAppBtn {
  margin-left: auto; /* Push buttons to the far right */
  color: #ff4136; /* Red color for delete button */
}

// Media query for responsive design
@media (max-width: 768px) {
  .appItemGrid {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

// Global button styles, if necessary
button {
  cursor: pointer;
}

.viewToggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.viewToggleButton {
  margin-left: 5px;
}

// Hover effects
button:hover,
.appIcon:hover,
.appName:hover {
  opacity: 0.8;
}
.app-list{
  scroll-margin-right:10px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
      background: rgba(#000,0.1);
      border-left: 3px white solid;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    padding-left: 3px;
    background-clip: padding-box;
    background: rgba(#000,0.5);
    border-left: 3px white solid;
    background-clip: padding-box;
  }
  @media(max-width:639px){
    max-height: 306px;
  }
  @media(max-height:660px){
    max-height: 250px;
  }
  @media(max-height:720px){
    max-height: 306px;
  }
}
.appitemsgrid{
  margin: 0 -5px 8px;
  .deleteAppBtn,.Add{
    width: 50px!important;
  }
  .app-icon{
    width: 40px;
    height: 40px;
    margin-right: 4px!important;
  }
  .app-name{
    font-size: 13px;
  }
}
.viewtogglebuttons {
  padding-top: 8px;
  margin-bottom: 18px;
  display: block;
}
// AppPanel.module.scss
.selectedView {
  color: #000 !important;
}
.panelappbutton{
  padding: 9px 22px;
  border-radius: 2px;
  border:1px solid #DCDCDC;
  font-size: 14px;
  height: 40px;
  min-width: 91px;
  color:#000000!important;
  background: none!important;
  &:hover{
    color:#ccc!important;
    border:1px solid #ccc!important;
  }
}
.deleteAppBtn{
  border-color: #FAF8F8!important;
  color:#FF0000;
  background: #FAF8F8;
  i{
    font-size: 20px;
  }
  &:hover{
    background: #FAF8F8;
    i{
      color:#FF0000;
    }
  }
}
.appModel{
  > div:nth-child(2){
    width: 465px!important;
    @media(max-width:479px){
      width: 380px;
    }
    @media(max-width:390px){
      width: 300px;
    }
  }
}
.appsearchbox{
  margin-bottom: 18px;
  input{
    background: #FAFAFA;
    height: 40px;
    display: block;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #333333;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #333333;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #333333;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #333333;
      opacity: 1;
    }
  }
  & > div{
    border-bottom: 1px solid #000;
    &::after{
      display: none;
    }
    & > div{
      height: 40px;
    }
  }
}

@media (max-width: 768px) {
  .viewtogglebuttons {
    display: none;
  }
}
@media (max-width: 640px) {
  .viewtogglebuttons {
    display: none;
  }
}
@media (max-width: 480px) {
  .viewtogglebuttons {
    display: none;
  }
}