.link {
  padding-bottom: 5px;
  display: block;
}

.link,
.link:visited,
.link:hover,
.link:active {
  color: inherit;
}


@media screen and (max-width: 767px) {

  .link {
    margin-left: 35px;
  }



}


@media screen and (max-width: 640px) {

  .link {
    margin-left: 35px;
  }
}

@media screen and (max-width: 480px) {
  .link {
    margin-left: 35px;
  }

}