.container {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    z-index: 10;

    .row {
        padding: 10px;
        justify-content: flex-end;
        border-bottom: 1px solid #ddd;

        .togglemenumobile {

            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            margin-left: -1px;
            padding-left: 0px;
            flex: 0 0 40px;
            max-width: 40px;
            width: 40px;
            padding-right: 0;

            i {
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin-left: -5px;
            }

            i:hover {
                background: #f3f3f3;
                padding: 10px;
                border-radius: 5px;
                margin-left: -5px;
            }
        }

        .logomobile {
            text-align: left;
            cursor: pointer;
            padding: 0;
            margin-left: -2px;
            width: 59.333333%;

            @media(max-width:539px) {
                width: 57.333333%;
            }
            @media(max-width:439px) {
                width: 55.633333%;
            }
            @media(max-width:349px) {
                width: 51.633333%;
            }
        }

        .righticonmobile {
            font-size: 15px;
            text-align: right;
            font-weight: bold;
            right: 1px;
            top: 5px;
            cursor: pointer;

            i {
                background: #fff;
                font-size: 16px;
                padding: 10px;
                font-weight: 600;
                border-radius: 10px;
            }

            i:hover {
                background: #f3f3f3;
                padding: 10px;
                border-radius: 5px;
            }
            @media(max-width:639px){
                right: 5px;
            }
        }
    }

    .flyoutpanel {

        position: absolute;
        right: 0px;
        background: #fff;
        padding: 0 22px 0 10px;
        width: 100%;
        z-index: 1000;
        box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.5);
        box-sizing: border-box;

        .is-active,
        .is-underlined {
            background: #eef6f7;
        }
    }

    .menuPanel {

        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        width: 100%;
        background: #ffff;
        position: absolute;
        left: 0px;
        top: 66px;
    }

    .mainMenu {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
        padding: 0px;
    }


    .subsubMenu {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
        padding: 0px;
    }
    .selectedMenuItem {
        background-color: #eef6f7;
    }

    .menuItem {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 13px 50px 14px 21px;
        font-size: 16px;
        font-weight: 600;
        color:#3C3C3C;
        cursor: pointer;

        .iconStylefront {
            float: left;
            font-weight: bold;
            color: #65279a;
            font-size: 8px;
            padding-top: 7px;
            margin-right: 27px;
        }

        .iconStyleback {
            color: #043591;
            position: absolute;
            right: 25px;
            font-size: 20px;
            font-weight: bold;
        }
    }


    .subMenuItem {

        padding: 11px 18px 10px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        .subMenuItemicon {
            font-weight: bold;

        }

        .subMenuItemtext {
            margin-left: 25px;
            font-size: 14px;
        }
    }



    .subsubMenuItem {

        padding: 10.5px 23px 10.5px 57px;
        cursor: pointer;

        a
        {
            text-decoration: none !important;
            color: #444 !important;
        }

        .subMenuItemicon {
            font-weight: bold;

        }

        .subMenuItemtext {
            margin-left: 11px;
            font-size: 14px;
        }
    }












    .menuItem:hover,
    .subMenuItem:hover {
        background-color: #f0f0f0;
    }

    .subMenu {
        padding-left: 0px;
    }

}