.container {
    position: relative;
    z-index: 10;

    .row {
        padding: 10px;
        justify-content: flex-end;
        border-bottom: 1px solid #ddd;

        .togglemenumobile {

            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            margin-left: -1px;
            padding-left: 0px;
            flex: 0 0 40px;
            max-width: 40px;
            width: 40px;
            padding-right: 0;

            i {
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin-left: -5px;
            }

            i:hover {
                background: #f3f3f3;
                padding: 10px;
                border-radius: 5px;
                margin-left: -5px;
            }
        }

        .logomobile {
            text-align: left;
            cursor: pointer;
            padding: 0;
            margin-left: -2px;
            width: 59.333333%;

            @media(max-width:539px) {
                width: 57.333333%;
            }
            @media(max-width:439px) {
                width: 55.633333%;
            }
            @media(max-width:349px) {
                width: 51.633333%;
            }
        }

        .righticonmobile {
            font-size: 15px;
            text-align: right;
            font-weight: bold;
            right: 1px;
            top: 5px;
            cursor: pointer;
            @media(max-width:640px){

                right: -5px;
            }
            @media(max-width:480px){

                text-align: right;
               
            }

            i {
                background: #fff;
                font-size: 16px;
                padding: 10px;
                font-weight: 600;
                border-radius: 10px;
                @media(max-width:768px){

                    margin-right: -17px
                }

                @media(max-width:640px){
                    
                    margin-right: 0px
                }
            }

            i:hover {
                background: #f3f3f3;
                padding: 10px;
                border-radius: 5px;
            }
            @media(max-width:639px){
                right: 23px;
                position: absolute;
                top: 15px;
            }
        }
    }
    .searchMenu{
        right: 0;
        top:0;
    }
    .flyoutpanel {

        position: absolute;
        right: 0px;
        background: #fff;
        padding: 0 22px 0 10px;
        width: 100%;
        z-index: 1000;
        box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.5);
        box-sizing: border-box;
        @media(max-width:1023px){
            padding: 0 15px;
        }
        @media(max-width:768px){
            padding: 0 10px;
        }
        .is-active,
        .is-underlined {
            background: #eef6f7;
        }
    }

    .menuPanel {

        box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
        width: 100%;
        background: #ffff;
        position: absolute;
        left: 0px;
        top: 66px;
    }

    .mainMenu {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
        padding: 0px;
    }


    .subsubMenu {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
        padding: 0px;
    }
    .selectedMenuItem {
        background-color: #eef6f7;
    }

    .menuItem {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 13px 50px 14px 56px;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        color:#3C3C3C;
        cursor: pointer;

        .iconStylefront {
            position: absolute;
            top: 19px;
            left: 20px;
            font-weight: bold;
            color: #65279a;
            font-size: 8px;
        }

        .iconStyleback {
            color: #043591;
            position: absolute;
            right: 25px;
            font-size: 20px;
            font-weight: bold;
        }
    }


    .subMenuItem {

        padding: 11px 18px 10px 56px;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        cursor: pointer;

        .subMenuItemicon {
            position: absolute;
            left: 18px;
            top: 14px;
        }

        .subMenuItemtext {
            font-size: 14px;
        }
    }



    .subsubMenuItem {

        padding: 10.5px 23px 10.5px 56px;
        cursor: pointer;

        a
        {
            text-decoration: none !important;
            color: #444 !important;
        }

        .subMenuItemicon {
            font-weight: bold;

        }

        .subMenuItemtext {
            margin-left: 11px;
            font-size: 14px;
        }
    }












    .menuItem:hover,
    .subMenuItem:hover {
        background-color: rgb(238, 246, 247);
    }

    .subMenu {
        padding-left: 0px;
    }

}



.searchMenu{
    background: #FAFAFA;
    display: flex;
    align-items: center;
    right: -6px;
    top:1px;
    position: relative;
    border-bottom: 1px solid #000;
    width: 100%;
    &Close,&Button{
      height: 34px;
      width: 34px;
      border:0;
      padding: 0;
      outline: 0;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      overflow: hidden;
      svg{
        width: 18px;
        height: 18px;
      }
    }
    input{
      background: transparent;
      width: calc(100% - 40px);
      height: 40px;
      font-size: 16px;
      color:#333;
      box-sizing: border-box;
    }
    input:focus + .searchMenuButton{
      background:rgb(4, 53, 145);
      svg{
        path{fill:#fff;}
      }
    }
    &Button{
      position: absolute;
      top:3px;
      right: 6px;
      svg{
        width: 25px;
        height: 25px;
      }
    }
  }
  